<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="relative">
        <input
          type="text"
          formControlName="message"
          placeholder="Type your question here..."
          class="form-input pr-24"
        />
        <div class="absolute inset-y-0 right-1 flex items-center">
          <button
            type="submit"
            [disabled]="formGroup.invalid || isLoading"
            class="btn btn-primary py-1 h-8 px-2 flex items-center justify-center">
            @if (isLoading) {
              <svg class="animate-spin h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
            } @else {
              
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
              </svg>
            }
          </button>
        </div>
      </div>
    </form>